@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
    width: 1440px;
}
/******************header*****************************************/
header{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
}

nav ul li{
    display: inline-block;
    margin: 10px;
}
nav{
    margin-left: -20px;
}
nav a{
    text-decoration: none;
    font-weight: 500;
    font-family: 'Cardo', serif;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}
.wooden img{
    width: 190px;
    height: 36px;
    position: relative;
    right: 320%;
}


/**************furniture***************************************/
.furniture{
    position: relative;
    height: 698px;
    margin-top: 36px;
    margin-left: -15px;
}

.p1, .p2{
    position: absolute;
    color: red;
    top: 38%;
    left: 42%;
    transform: translate(-35%, -40%);
}
.p1{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    width: 807px;
    height: 77px;
    font-weight: 900;
    font-size: 27px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}

.p2{
    position: absolute;
    width: 125px;
    height: 20px;
    font-family: 'Cardo', serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 6px 38px 7px 41px;
    top: 50%;
    left: 48%;
}


/************************icons******************************/
.icons{
    position: relative;
    width: 1440px;
    height: 155px;
}
.first{
    position: absolute;
    display: flex;
    top: 50px;
    left: 60px;
}

.first p{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    padding: 15px;
    margin-right: 50px;
}



/***********************pictures********************************/
.pictures{
    display: flex;
}

.pictures img{
    width: 360px;
    height: 320px;
    margin-bottom: 115px;
    margin-right: -20px;
}


/**********************cloe**************************/
.cloe{
    display: flex;
    margin-bottom: 29px;
    justify-content: right;
}

.cloetext{
    margin-right: 22px;
    text-align: right;
}

.cloepicture img{
    width: 960px;
    height: 542px;
}

.cloetext{
    position: relative;
}

 .cloe h1, .cloe a{
     font-family: 'Roboto', sans-serif;
     color: #000000;
     font-weight: bold;
 }

 .cloe h1{
     font-weight: bold;
     font-size: 40px;
     line-height: 56px;
     text-align: right;
     margin-top: 48px;
     margin-bottom: 30px;
 }

 .modular{
     font-style: italic;
     font-size: 18px;
     line-height: 37px;
     color: #000000;
 }

.from{
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    color: #000000;
}

.cloe h1, .modular, .from, .cloe a{
    margin-right: 5%;
}

.an{
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    color: #525252;
    font-family: 'Cardo', serif;
    margin-bottom: 60px;
}

.cloe a{
    font-size: 17px;
    line-height: 22px;
}


/*********************pelican****************************/
.pelican{
    display: flex;
}

.pelicanpicture img{
    width: 960px;
    height: 542px;
}

.pelicantext{
    text-align: left;
    margin-left: 38px;
}

.pelicantext h1{
    margin-top: 85px;
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
    margin-bottom: -8px;
}

.pelicantext h1, .pelicantext a{
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-weight: bold;
}

.shelves{
    font-style: italic;
    font-size: 18px;
    line-height: 37px;
    color: #000000;
}

.from1{
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    color: #000000;
}

.store, .sizes{
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    color: #525252;
    font-family: 'Cardo', serif;
    margin-bottom: 60px;
}
.sizes{
    margin-top: -42px;
}
.pelican a{
    font-size: 17px;
    line-height: 22px;
}


/************************alada***********************/
.alada{
    display: flex;
    justify-content: right;
}

.aladapicture img{
    width: 960px;
    height: 542px;
    margin-top: 29px;
}

.aladatext{
    margin-right: 48px;
    text-align: right;
}

.aladatext h1{
    margin-top: 85px;
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
}

.aladatext h1, .aladatext a{
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-weight: bold;
}

.floating{
    font-style: italic;
    font-size: 18px;
    line-height: 37px;
    color: #000000;
    margin-top: -20px;
}

.from2{
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    color: #000000;
}

.timeless, .color{
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    color: #525252;
    font-family: 'Cardo', serif;
}
.timeless{
    margin-top: 40px;
}

.color{
    margin-bottom: 45px;
}
.alada a{
    font-size: 17px;
    line-height: 22px;
}

.new{
    font-family: 'Cardo', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #BC1414;
    margin-top: 43px;
    margin-bottom: -60px;
}


/*******************alba************************************/


.alba{
    display: flex;
    position: relative;
}

.alba img{
    width: 960px;
    height: 572px;
    margin-top: 29px;
    margin-bottom: 25px;
}

.albatext{
    margin-top: 48px;
    margin-left: 48px;
}

.albatext img{
    position: absolute;
    width: 230px;
    height: 70px;
    bottom: -15px;
    margin-left: -70px;
}

.albatext h1{
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
    margin-bottom: -10px;
}

.albatext h1, .albatext a{
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-weight: bold;
}

.albamodular{
    font-style: italic;
    font-size: 18px;
    line-height: 37px;
    color: #000000;
}

.from3{
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    color: #000000;
}

.versatile, .color6{
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    color: #525252;
    font-family: 'Cardo', serif;
}

.albatext a{
    font-size: 17px;
    line-height: 22px;
}

.color6{
    margin:  40px 0 40px 0;
}


/*********************Batea**************************************/



.batea{
    display: flex;
}

.batea img{
    width: 960px;
    height: 572px;
    margin-top: 29px;
    margin-bottom: 25px;
}

.bateatext{
    text-align: right;
    margin-right: 48px;
    margin-left: 62px;
}

.batea h1{
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
    margin-bottom: -10px;
    margin-top: 140px;
}

.batea h1, .batea a{
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-weight: bold;
}

.tables{
    font-style: italic;
    font-size: 18px;
    line-height: 37px;
    color: #000000;
}

.from4{
    font-weight: normal;
    font-size: 15px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 35px;
    margin-top: 20px;
}

.composed, .size3{
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    color: #525252;
    font-family: 'Cardo', serif;
}

.batea a{
    font-size: 17px;
    line-height: 22px;
}

.size3{
    margin:  40px 0 50px 0;
}

/******************************************************/

.our{
    font-family: 'Cardo', serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    color: #3A3A3A;
    margin-top: 41px;
}

.get{
    font-family: 'Cardo', serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
    text-align: center;
    color: #000000;
    margin: 21px 0 37px 0;
}

.threeoictures{
    display: flex;
    justify-content: center;
}

.threeoictures img{
    width: 367px;
    height: 550px;
    margin: 10px;
}

.icon6{
    margin-left: 42%;
}
/*************the********************************/

.the{
    height: 312px;
    margin: 53px 0 44px 0;
}

.team{
    font-family: 'Cardo', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #020202;
    margin-top: 83px;
    margin-bottom: 37px;
}

.uk{
    font-family: 'Cardo', serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.icon7{
    margin-bottom: -20px;
}

/*******************all*******************/
.all{
    height: 315px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 72px;
}
.all div{
    padding: 32px;
}
.all div:hover{
    /*background-color: white;*/
    transition: 0.7s;
}
.all p, h4, .all a{
    font-family: 'Cardo', serif;
    color: #000000;
    font-style: normal;
    font-weight: normal;
}
.design, .made{
    background: #FFFFFF;
}

.footprint, .wood{
    background: #F8F8F8;
}

h4{
    font-size: 20px;
}
.all p, a{
    font-size: 13px;
}

/******************interior*******************/

.interior{
    height: 315px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    color: #F7F7F7;
}

.those img{
    width: 1420px;
    height: 104px;
    margin: 41px 10px 83px 10px;
}

.those p{
    width: 298px;
    height: 26px;
    font-family: 'Cardo', serif;
    font-size: 20px;
    text-align: center;
    color: #454545;
    margin: 61px 571px 0 571px;
}
/*******************footer************************/
footer{
    background-color: #E9E9E9;
    height: 448px;
}

.chast1{
    display: flex;
    justify-content: center;
    text-align: center;
}
.chast1 p{
    font-family: 'Cardo', serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
}
footer h4{
    text-transform: uppercase;
    font-size: 21px;
    margin-bottom: 40px;
    margin-top: -10px;
}
.chast1 div{
    padding: 60px;
}
.dont{
    margin-top: -30px;
}
.dont p, img{
    margin: 15px;
}

.dont img, none:.trustpilot{
    width: 60px;
    height: 60px;
}
.trustpilot{
    margin-top: -15px;
}
.letter{
    border: 1px solid #000000;
    width: 240px;
    height: 18px;
    background: #FFFFFF;
    padding: 2px;
}

.trustpilot{
    display: block;
    width: 225px;
    height: 35px;
}


.chast2{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: -90px;
    margin-left: 4%;
}
.cards{
    width: 359px;
    height: 28px;
    margin-top: 50px;
    margin-left: 80px;
}

.copyright{
    width: 199px;
    height: 23px;
    margin-top: 80px;
    margin-left: 170px;
}

.term{
    width: 359px;
    height: 22px;
    margin-top: 60px;
    margin-left: -40px;
}


















